ion-header {
  --background: #00000000; /* Fondo negro puro */
  color: rgb(0, 0, 0); /* Color del texto negro para mejor contraste */
}

ion-content {
  --background: linear-gradient(to bottom, #dce2f5, #839dd4);
}

ion-title {
  text-align: center; /* Centra el texto del título */
  color: rgb(0, 0, 0);
}

ion-toolbar {
  --background: #00000000; /* Fondo negro puro */
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 20px; /* Añade padding para evitar que los elementos se corten */
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 20px; /* Añade padding para evitar que los elementos se corten */
  margin-top: -150px;
}

ion-list {
  width: 100%;
  background: transparent; /* Fondo transparente */
  margin-top: 20px; /* Añade un margen superior para separar los campos del borde */
}

ion-item {
  --background: transparent; /* Fondo transparente para los items */
  --color: #000000; /* Color del texto */
  --placeholder-color: #000000; /* Color del placeholder */
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); /* Borde inferior para separar los ítems */
  margin-bottom: 20px; /* Espaciado entre los items */
  font-weight: bold;
}

ion-input, ion-select {
  --background: transparent; /* Fondo transparente para los campos de entrada */
  --color: #000000; /* Color del texto */
  --placeholder-color: #000000; /* Color del placeholder */
}

ion-button {
  margin-top: 10px;
  --background: rgba(52, 48, 165, 0) !important;
  --color: rgb(0, 0, 79) !important;
  transition: background-color 0.3s ease; /* Transición suave */
  --color: #000073; /* Color del texto del botón */
}
