ion-content {
  --background: linear-gradient(to bottom, #dce2f5, #839dd4);
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .form-container {
    width: 100%;
    max-width: 340px; /* Ancho máximo del formulario */
    background: transparent; /* Fondo transparente */
    padding: 30px;
    margin-top: 40vh; /* Ajusta la distancia desde la parte superior */
  }
  
  ion-list {
    width: 100%;
    background: transparent; /* Fondo transparente */
  }
  
  ion-item {
    --background: transparent; /* Fondo transparente para los items */
    --color: #000000; /* Color del texto */
    --placeholder-color: #000000; /* Color del placeholder */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* Borde inferior para separar los ítems */
    margin-bottom: 8px; /* Espaciado entre los items */
  }
  
  ion-input, ion-select {
    --background: transparent; /* Fondo transparente para los campos de entrada */
    --color: #000000; /* Color del texto */
    --placeholder-color: #000000; /* Color del placeholder */
  }
  
  ion-button {
    margin-top: 15px;
    --background: #6e000000; /* Fondo azul para el botón */
    --background-activated: #0056b3; /* Fondo azul oscuro cuando el botón está presionado */
    --background-focused: #0056b3; /* Fondo azul oscuro cuando el botón está enfocado */
    --color: #000000; /* Color del texto del botón */
  }
  